.accordion {
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
}

.accordion__summary {
    padding-top: 24px;
    padding-left: 32px;
}

.accordion__text {
    margin: 0;
    padding-top: 16px;
    padding-left: 32px;
}