@import "../../config/_mixins";
@import "../../config/_variables";

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--grey-6);

    &--card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
        padding: 20px 0;
    }

    &__window {
        max-width: 428px;
        background: var(--white);
        border-radius: 8px;
        flex-direction: column;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        @media screen and (min-width: $breakpoint-tablet){
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &--card {
            position: relative;
            width: 90%;
            top: unset;
            left: unset;
            transform: none;
        }
    }

    &__close-button {
        text-align: right;

        &--card {
            pointer-events: none;
        }
    }

    &__header {
        display: flex;
        justify-content: flex-end;
        margin-top: 12px;
        margin-right: 12px;
    }

    &__body {
        padding: 0 40px 30px 40px;

        &--card {
            padding: 0 30px 20px 30px;
        }
    }

    &__title {
        @include font(('Inter', sans-serif), 20px, 24px, 600, var(--black-2));
        margin: 5px 0 14px 0;
    }

    &__description {
        @include font(('Inter', sans-serif), 16px, 24px, 400, var(--grey-4));
        margin: 0;
    }
}
