.body {
    color: white;
}

.header {
    text-align: center;
}

.header__title {
    background: red;
}

.navigation {
    background: #ff9900;
}

.navigation__item {
    display:inline;
}

.articles-container {
    background: #04a142;
    padding: 5px;
}

.articles-container__article {
    background: #1319ff;
    padding-top: 5px;
}

.footer {
    background: #bd00ff;
    text-align: center;
}