@import "../../config/_variables";

.histogram {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 39px;
  color: var(--black);

  @media screen and (min-width: $breakpoint-desktop) {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 16px 24px 24px 24px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__total-orders-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
  }

  &__total-orders-name {
    margin: 0;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &__total-orders-value {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
  }

  &__view-all-link-container {
    padding-top: 3px;
    display: flex;
    align-items: flex-start;
  }

  &__view-all-link {
    color: var(--blue);
    font-weight: 400;
    text-decoration: none;
    margin: 0;
  }

  &__body {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1px;
  }

  &__column {
    background: var(--blue);
    flex-grow: 1;
  }
}
