.avatar {
    width: 102px;
    height: 102px;
}

.avatar--card {
    width: 160px;
    height: 160px;
}

.avatar__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
