@import "../04-lection2/01-histogram/histogram.css";
@import "../05-lection3/03-calendar/calendar.css";
@import "../06-lection4/01-avatar/avatar.css";
@import "../05-lection3/01-tooltip/tooltip.css";
@import "../07-lection5/01-checkbox/checkbox.css";
@import "../07-lection5/02-radio/radio.css";
@import "../05-lection3/02-modal/modal.css";

.card {
    background: var(--white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    display: flex;
    flex: 1 1;
    flex-direction: column;
}

.card__body {
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1280px) {
    .card__body {
        padding: 2rem;
    }
}

.card__body--checkbox-collection {
    gap: 37px;
}

.card__checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card__footer {
    padding-bottom: 2rem;
}

.card__title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: var(--black);
    margin: 0;
}

.card__description {
    margin: 6px 0 0 0;
}

.card__description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--grey-4);
    text-align: center;
}
