.cards-container {
    display: flex;
    flex-direction: column;
    padding-top: 68px;
    padding-bottom: 204px;
    gap: 30px;
}

.cards-container__line {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
