@import "../config/_variables";
@import "../config/_mixins";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--grey-4);
  padding: 32px 16px;
  background: var(--white);

  @media screen and (min-width: $breakpoint-desktop) {
    color: var(--black);
    padding: 71px 25% 136px 25%;
  }

  &__title {
    @include font(('Inter', sans-serif), 24px, 32px, 400, var(--black));
    margin: 0;

    @media screen and (min-width: $breakpoint-desktop) {
      @include font(('Inter', sans-serif), 38px, 48px, 500, var(--black));
    }
  }

  &__description {
    @include font(('Inter', sans-serif), 16px, 24px, 400, var(--black));
    margin: 32px 0 0 0;
  }

  &--component {
    height: 130px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;

    .footer__title {
      @include font(('Inter', sans-serif), 12px, 18px, 500, var(--grey-3));
      text-transform: uppercase;
    }
  }
}
