@import "../config/_variables";

.footer {
  text-align: center;
  color: var(--grey-4);
  max-width: 640px;
  margin: 0 auto;
  padding: 32px 16px;

  @media screen and (min-width: $breakpoint-desktop) {
    color: var(--black);
    padding: 71px 0 136px 0;
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    margin: 0;

    @media screen and (min-width: $breakpoint-desktop) {
      font-size: 38px;
      line-height: 48px;
      font-weight: 500;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 32px 0 0 0;
  }
}
