.header__title {
    color: var(--grey-4);
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 16px;
}

@media screen and (min-width: 1280px) {
    .header__title {
        color: var(--black);
        font-weight: 500;
        font-size: 50px;
        line-height: 64px;
    }
}
