@import "../config/_variables";

.header {
  padding: 16px 0 0 calc(100vw - 100%);

  &__title {
    color: var(--grey-4);
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    margin: 32px 0;

    @media screen and (min-width: $breakpoint-desktop) {
      color: var(--black);
      font-weight: 500;
      font-size: 50px;
      line-height: 64px;
      margin: 40px 0;
    }
  }

  &__top-section {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;

    @media screen and (min-width: $breakpoint-desktop) {
      justify-content: space-between;

      &--component {
        padding: 16px 0 16px calc(100vw - 100%);
      }
    }

    .header__theme-switch {
      display: none;

      @media screen and (min-width: $breakpoint-desktop) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
      }
    }
  }
}
