.navigation {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
}

@media screen and (min-width: 768px) {
    .navigation {
        gap: 40px;
    }
}

.navigation__item {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--grey-3);
    white-space: nowrap;
}

.navigation__item--active {
    color: var(--black);
    padding-bottom: 8px;
    border-bottom: 5px solid var(--black);
}
