@import './normalize.css';
@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --black-2: #334D6E;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-2: #5028C6;
    --purple-3: #ECEFFD;
    --blue: #4263EB;
    --blue-2: #2342C0;
    --blue-3: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8FAFC;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #90A0B7;
    --grey-6: rgba(196, 196, 196, 0.5);

    --error: var(--red);
    --success: var(--blue-3);

    --primary: var(--blue);
    --secondary: var(--purple);

    --container-width: 1110px;
}

* {
    font-family: 'Inter', sans-serif;
}
