@import "../../config/_mixins";

.radio {
  @include font(('Inter', sans-serif), 16px, 24px, 400, var(--grey-4));
  display: inline-block;

  &__content {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    white-space: nowrap;
  }

  &__input {
    opacity: 0;
    width: 1px;
    height: 1px;
    pointer-events: none;
    position: absolute;

    &:checked ~ .radio__content {
      .radio__control {
        border: 2px solid var(--blue);
      }

      .radio__control-tick {
        display: block;
        width: 18px;
        height: 18px;
        background: var(--blue);
        border-radius: 50%;
      }
    }

    &:checked ~ .radio__content--component {
      padding-bottom: 8px;
      border-bottom: 5px solid var(--black);
    }

    &:disabled ~ .radio__content {
      pointer-events: none;

      .radio__control {
        background: var(--grey-2);
      }

      .radio__label {
        color: var(--grey-2);
      }
    }

    &:disabled:checked ~ .radio__content {
      .radio__control {
        background: var(--white);
        border: 2px solid var(--grey-2);
      }

      .radio__control-tick {
        background: var(--grey-2);
      }
    }

    &:focus-visible ~ .radio__content {
      .radio__label {
        text-decoration: underline;
      }

      .radio__control {
        border: 2px solid var(--black);
      }
    }
  }

  &__label {
    margin: 0;
  }

  &__control {
    height: 28px;
    width: 28px;
    background: var(--white);
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid var(--grey-2);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__control-tick {
    display: none;
  }
}
