%skeleton-item {
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    background-size: 200%;
    animation-name: backgroundMovement;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

    @keyframes backgroundMovement {
        0% {
            background-position: 100%;
        }
        100% {
            background-position: -100%;
        }
    }
}

.skeleton {
    width: 100%;
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 24px 40px 32px 24px;

    &__header {
        display: flex;
    }

    &__body {
        margin-top: 16px;
    }

    &__avatar {
        @extend %skeleton-item;
        height: 64px;
        width: 64px;
        border-radius: 50%;
    }

    &__short-rows {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        flex-grow: 1;
    }

    &__row {
        @extend %skeleton-item;
        height: 20px;
        margin-top: 8px;

        &--small {
            width: 39%;
        }

        &--medium {
            width: 59%;
        }
    }
}
