.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip__text {
    display: none;
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 45px;
    border-radius: 10px;
    background-color: var(--blue);
    color: var(--grey-2);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.tooltip__text:after {
    content: '';
    border: 14px solid transparent;
    position: absolute;
    transform: translate(0, 160%);
    border-top: 6px solid var(--blue);
}

.tooltip__icon:hover {
    cursor: pointer;
}

.tooltip__icon:hover + .tooltip__text {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -178%);
    z-index: -1;
}
