@import '../config/_variables';

.page {
    &__box {
        margin: 0 16px;

        @media screen and (min-width: $breakpoint-desktop) {
            max-width: var(--container-width);
            margin: 0 auto;
        }

        &--component {
            display: flex;
        }
    }

    &--component {
        background: var(--grey-1);
    }

    &__menu {
        @media screen and (min-width: $breakpoint-desktop) {
            display: none;
        }

        &--component {
            display: inline-block;
        }
    }
}
