.menu-control-button {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 32px;
    height: 32px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1280px){
    .menu-control-button {
        display: none;
    }
}

.menu-control-button--close {
    display: none;
    background: var(--grey-2);
    border-radius: 50%;
}

.menu-control-button__icon {
    width: 24px;
    height: 24px;
}

.burger-menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--grey-6);
    z-index: 2;
    transition: all 200ms ease-in-out;
}

.burger-menu__container {
    position: absolute;
    padding: 16px;
    width: calc(100% - 32px);
    max-width: 375px;
    z-index: 3;
    background: var(--white);
    height: 100%;
}

.burger-menu[data-open] {
    visibility: visible;
    opacity: 1;
}

.burger-menu[data-open] ~ .menu-control-button--close {
    display: flex;
}

.burger-menu__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 32px;
}

.burger-menu__section {
    padding: 24px 0;
    border-top: 1px solid var(--grey-2);
}

.burger-menu__section-items {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.burger-menu__section-title,
.burger-menu__item {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.burger-menu__section-title {
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-3);
    margin: 0;
}

.burger-menu__color-switch .toggle__content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.burger-menu__item {
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    text-decoration: none;
    display: flex;
    flex-grow: 1;
}

.burger-menu__item--active {
    color: var(--orange);
}

.burger-menu__footer {
    padding-top: 56px;
}
