@import "../../config/_mixins";

.textbox {
    @include font(('Inter', sans-serif), 12px, 18px, 500, var(--grey-3));
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__content {
        position: relative;
    }

    &__input {
        width: 100%;
        height: 56px;
        border-radius: 8px;
        box-sizing: border-box;
        border: 1px solid var(--grey-2);
        background-color: var(--white);
        @include font(('Inter', sans-serif), 20px, 26px, 400, var(--grey-4));
        padding: 15px 16px 15px 24px;
        outline: none;

        &:disabled {
            background-color: var(--grey-2);
            opacity: 0.2;
            color: var(--grey-4);
        }

        &:focus:not(.textbox__input--error) {
            border: none;
            box-shadow: 0 0 0 1px var(--blue);
        }

        &::placeholder {
            color: var(--grey-2);
            opacity: 1; /* Firefox */
        }

        &--error,
        &--success {
            padding-right: 56px;
        }

        &--error {
            border: 1px solid var(--red);
        }

        &--success {
            border: 1px solid var(--blue);
        }

        &--success ~ .textbox__icon-success,
        &--error ~ .textbox__icon-error {
            display: block;
        }
    }

    &__icon-error,
    &__icon-success {
        display: none;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 16px;
        top: 16px;
        pointer-events: none;
    }
}
